<div class="container">
  <h3>Hui Wang</h3>
  <p>
    My name is Hui Wang. I come from China. I study Software Engineering Technology Fast Track at Centennial College.
    I like to learn computer programming, I like to hike and kayak in the summer, and I like to ski in the winter. 
    I have strong skillset in PYTHON, JavaScript, JAVA, C#, C++, PL/SQL and capable of tackling problems out of personal comfort zone. Proactive in looking
    for ways to improve theproduct, identify performance and usability issues, and devise solutions. Familiar with a dynamic
    working environment and able to follow instructions and directions in order to complete projects or assignments. Strong
    problem solving skills with minimum supervision.
  </p>
  <embed src="/HughWang-resume.pdf" width="500" height="375" type="application/pdf">
</div>