<div class="container">
    <h3>Phone number: <%= phone %> </h3>
    <h3>Email Address: <%= email %></h3>
</div>
<div>
  <form>
    <div class="form-group">
      <input type="text" class="form-control form-control-lg" placeholder="First Name">
    </div class="form-group">
    <div>
      <input type="text" class="form-control form-control-lg" placeholder="Last Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control form-control-lg" placeholder="Contact Number">
    </div>
    <div class="form-group">
      <input type="text" class="form-control form-control-lg" placeholder="Email Address">
    </div>
    <div class="form-group">
      <input type="text" class="form-control form-control-lg" placeholder="Message">
    </div>
    <button class="btn btn-block btn-lg btn-info">Send</button>
  </form>
</div>