<div class="row-sm-4">
  <div class="well">
    <img width="132" height="132" valign="top" src = <%= image_logo %> />
    <h3>Welcome, this is Hui Wang's Portfolio Site</h3>
    
    <button type="submit" class="btn btn-primary">About me</button>
    <button type="submit" class="btn btn-primary">Projects</button>
    <button type="submit" class="btn btn-primary">Services</button>
    <button type="submit" class="btn btn-primary">Contact me</button>
        
        
      
  </div>
</div>