<div class="container">
  <h2>Mobile application system-GetHired</h2>
  <p>
    Designed a mobile system for job seekers to search for jobs and communicate with employers around the world.
  </p>
  <p>
    Developed a database using MySQL which collects all job posting around the world.
  </p>
  <p>
    Developed amobile applicationusingJavathat accesses the database and processes job matching for both job seekers and employers with several customized features.
  </p>
  <h2>Temperature Control System</h2>
  <p>
    Designed and built a device that controls the cooling and heating system to the target temperature.
  </p>
  <p>  
    Programmed on Arduino Board using Visual Studio with C language.
  </p>
</div>